<!DOCTYPE html>
<html>
  <head>
    <title>NPTEL Micro Notes</title>
    <link rel='stylesheet' href='/stylesheets/flat-ui.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/js/jquery.min.js"></script>

  <body>
  <p>Welcome</p><% if(user.name) {%>
  <p><%=user.name%></p>
  <%}%>
  </body>
</html>