<!DOCTYPE html>
<html>
  <head>
    <title>NPTEL Micro Notes</title>
    <link rel='stylesheet' href='/stylesheets/flat-ui.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        function capLock(e) {
            if (!e) {
                e = window.event;
            }
            kc = e.keyCode?e.keyCode:e.which;
            sk = e.shiftKey?e.shiftKey:((kc == 16)?true:false);
            if(((kc >= 65 && kc <= 90) && !sk)||((kc >= 97 && kc <= 122) && sk))
                document.getElementById('divMayus').style.visibility = 'visible';
            else
                document.getElementById('divMayus').style.visibility = 'hidden';
            }
    </script>
    <style type="text/css">
    a {
        font-weight:bold;
        font-size:18px;
        display: inline;
    }
    .btn {
        font-weight: bold;              
    }
    
    #divMayus {
        color:red;
        font-size:13px;
    }
    
    label {
      font-weight: bold;
      font-size: 20px;
      margin-top: 10px;
    }
    .user-input {
      padding-bottom: 20px;
    }
    p {
      font-size: 32px;
      width: 1000px;
      font-weight: bold;
    }
    body {
    	background : #eeeeee;
    }
    </style>
  </head>
  <body>
<div>    
    <form action="login" method="POST">
      <p >NPTEL Micronotes</p>
      <div >
        <label>USN</label>
        <span class="user-input">
          <input required type="text" name="usn" placeholder="Ex :  1PI10IS100" class="form-control" pattern="[0-9][A-Z]{2}[0-9]{2}[A-Z]{2}[0-9]{3}"><br>
        </span>


        <label>Password</label>
        <span class="user-input">
          <input required type="password" name="password" placeholder="password" class="form-control" onkeypress="capLock(event)"><br>
        </span>
        <span>
            <div id="divMayus" style="visibility:hidden">Caps Lock is on.</div> 
        </span>
       <span class="user-input">
                <input required type="submit" class="btn btn-block btn-lg btn-success" value="Login"/>
        </span>
    </form> 
    </div>
    <div style="margin-left:35%">
    <p>
        <span style="padding-left:10px">
        <a href="create_account">Create Account</a>
        </span>
    
        <span style="padding-left:75px">
        <a href="forgot_password"> Forgot Password? </a>
        </span>
</p>
    <% if(typeof(failed) !== 'undefined' && failed === true) { %>
    <p>Wrong Username/Password</p>
    <% } %>
    </div>
    </div>
  </body>
</html>