.AliceBlue {
    background: AliceBlue;
}
.AntiqueWhite {
    background: AntiqueWhite;
}
.Aqua {
    background: Aqua;
}
.Aquamarine {
    background: Aquamarine;
}
.Azure {
    background: Azure;
}
.Beige {
    background: Beige;
}
.Bisque {
    background: Bisque;
}
.Black {
    background: Black;
}
.BlanchedAlmond {
    background: BlanchedAlmond;
}
.Blue {
    background: Blue;
}
.BlueViolet {
    background: BlueViolet;
}
.Brown {
    background: Brown;
}
.BurlyWood {
    background: BurlyWood;
}
.CadetBlue {
    background: CadetBlue;
}
.Chartreuse {
    background: Chartreuse;
}
.Chocolate {
    background: Chocolate;
}
.Coral {
    background: Coral;
}
.CornflowerBlue {
    background: CornflowerBlue;
}
.Cornsilk {
    background: Cornsilk;
}
.Crimson {
    background: Crimson;
}
.Cyan {
    background: Cyan;
}
.DarkBlue {
    background: DarkBlue;
}
.DarkCyan {
    background: DarkCyan;
}
.DarkGoldenRod {
    background: DarkGoldenRod;
}
.DarkGray {
    background: DarkGray;
}
.DarkGreen {
    background: DarkGreen;
}
.DarkKhaki {
    background: DarkKhaki;
}
.DarkMagenta {
    background: DarkMagenta;
}
.DarkOliveGreen {
    background: DarkOliveGreen;
}
.Darkorange {
    background: Darkorange;
}
.DarkOrchid {
    background: DarkOrchid;
}
.DarkRed {
    background: DarkRed;
}
.DarkSalmon {
    background: DarkSalmon;
}
.DarkSeaGreen {
    background: DarkSeaGreen;
}
.DarkSlateBlue {
    background: DarkSlateBlue;
}
.DarkSlateGray {
    background: DarkSlateGray;
}
.DarkTurquoise {
    background: DarkTurquoise;
}
.DarkViolet {
    background: DarkViolet;
}
.DeepPink {
    background: DeepPink;
}
.DeepSkyBlue {
    background: DeepSkyBlue;
}
.DimGray {
    background: DimGray;
}
.DimGrey {
    background: DimGrey;
}
.DodgerBlue {
    background: DodgerBlue;
}
.FireBrick {
    background: FireBrick;
}
.FloralWhite {
    background: FloralWhite;
}
.ForestGreen {
    background: ForestGreen;
}
.Fuchsia {
    background: Fuchsia;
}
.Gainsboro {
    background: Gainsboro;
}
.GhostWhite {
    background: GhostWhite;
}
.Gold {
    background: Gold;
}
.GoldenRod {
    background: GoldenRod;
}
.Gray {
    background: Gray;
}
.Green {
    background: Green;
}
.GreenYellow {
    background: GreenYellow;
}
.HoneyDew {
    background: HoneyDew;
}
.HotPink {
    background: HotPink;
}
.IndianRed {
    background: IndianRed;
}
.Indigo {
    background: Indigo;
}
.Ivory {
    background: Ivory;
}
.Khaki {
    background: Khaki;
}
.Lavender {
    background: Lavender;
}
.LavenderBlush {
    background: LavenderBlush;
}
.LawnGreen {
    background: LawnGreen;
}
.LemonChiffon {
    background: LemonChiffon;
}
.LightBlue {
    background: LightBlue;
}
.LightCoral {
    background: LightCoral;
}
.LightCyan {
    background: LightCyan;
}
.LightGoldenRodYellow {
    background: LightGoldenRodYellow;
}
.LightGray {
    background: LightGray;
}
.LightGreen {
    background: LightGreen;
}
.LightPink {
    background: LightPink;
}
.LightSalmon {
    background: LightSalmon;
}
.LightSeaGreen {
    background: LightSeaGreen;
}
.LightSkyBlue {
    background: LightSkyBlue;
}
.LightSlateGray {
    background: LightSlateGray;
}
.LightSteelBlue {
    background: LightSteelBlue;
}
.LightYellow {
    background: LightYellow;
}
.Lime {
    background: Lime;
}
.LimeGreen {
    background: LimeGreen;
}
.Linen {
    background: Linen;
}
.Magenta {
    background: Magenta;
}
.Maroon {
    background: Maroon;
}
.MediumAquaMarine {
    background: MediumAquaMarine;
}
.MediumBlue {
    background: MediumBlue;
}
.MediumOrchid {
    background: MediumOrchid;
}
.MediumPurple {
    background: MediumPurple;
}
.MediumSeaGreen {
    background: MediumSeaGreen;
}
.MediumSlateBlue {
    background: MediumSlateBlue;
}
.MediumSpringGreen {
    background: MediumSpringGreen;
}
.MediumTurquoise {
    background: MediumTurquoise;
}
.MediumVioletRed {
    background: MediumVioletRed;
}
.MidnightBlue {
    background: MidnightBlue;
}
.MintCream {
    background: MintCream;
}
.MistyRose {
    background: MistyRose;
}
.Moccasin {
    background: Moccasin;
}
.NavajoWhite {
    background: NavajoWhite;
}
.Navy {
    background: Navy;
}
.OldLace {
    background: OldLace;
}
.Olive {
    background: Olive;
}
.OliveDrab {
    background: OliveDrab;
}
.Orange {
    background: Orange;
}
.OrangeRed {
    background: OrangeRed;
}
.Orchid {
    background: Orchid;
}
.PaleGoldenRod {
    background: PaleGoldenRod;
}
.PaleGreen {
    background: PaleGreen;
}
.PaleTurquoise {
    background: PaleTurquoise;
}
.PaleVioletRed {
    background: PaleVioletRed;
}
.PapayaWhip {
    background: PapayaWhip;
}
.PeachPuff {
    background: PeachPuff;
}
.Peru {
    background: Peru;
}
.Pink {
    background: Pink;
}
.Plum {
    background: Plum;
}
.PowderBlue {
    background: PowderBlue;
}
.Purple {
    background: Purple;
}
.Red {
    background: Red;
}
.RosyBrown {
    background: RosyBrown;
}
.RoyalBlue {
    background: RoyalBlue;
}
.SaddleBrown {
    background: SaddleBrown;
}
.Salmon {
    background: Salmon;
}
.SandyBrown {
    background: SandyBrown;
}
.SeaGreen {
    background: SeaGreen;
}
.SeaShell {
    background: SeaShell;
}
.Sienna {
    background: Sienna;
}
.Silver {
    background: Silver;
}
.SkyBlue {
    background: SkyBlue;
}
.SlateBlue {
    background: SlateBlue;
}
.SlateGray {
    background: SlateGray;
}
.Snow {
    background: Snow;
}
.SpringGreen {
    background: SpringGreen;
}
.SteelBlue {
    background: SteelBlue;
}
.Tan {
    background: Tan;
}
.Teal {
    background: Teal;
}
.Thistle {
    background: Thistle;
}
.Tomato {
    background: Tomato;
}
.Turquoise {
    background: Turquoise;
}
.Violet {
    background: Violet;
}
.Wheat {
    background: Wheat;
}
.White {
    background: White;
}
.WhiteSmoke {
    background: WhiteSmoke;
}
.Yellow {
    background: Yellow;
}
.YellowGreen {
    background: YellowGreen;
}