@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #f3f3f3;
}

textarea {
    font-family: 'Open Sans', sans-serif;
}

.bar {
    position : fixed;
    z-index : 100;
    width : 100%;
    left : 0;
    top: 0;
    height : 70px;
    background: #E0E0E0;
}

.user {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    width: auto;
    padding-top: 1%;
    padding-left: 1%;
    display:inline-block;
}

.icon {
    float: right;
    margin-right: 1%;
    margin-top: 1%;
    height: 70%;
}

.download {
    display: none;
}

.cards {
    margin-top: 70px;
    display:block;
}

.container {
    height:auto;
    width: 25%;
    float:left;
    display: inline-block;
    background: transparent;
}

.container .ui-selected {
    background: #E1E1E1;
}

/* for 980px or less */
@media screen and (max-width: 980px) {
    .container {
        width:33.33%;
    }
    .user {
        padding-top: 3%;
        font-size: 25px;
    }
}

/* for 700px or less */
@media screen and (max-width: 600px) {
    .container {
        width:100%;
    }
    .user {
        padding-top: 4%;
        font-size: 20px;
    }
}

/* for 480px or less */
@media screen and (max-width: 480px) {
    .container {
        width:100%;
    }
    .user {
        padding-top: 7%;
        font-size: 15px;
    }
}

.card {
    background: inherit;
    width: 95%;
    height: auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    border-radius: 5px 5px;
    margin: 5px 5px 5px 5px;
    float: left;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform:  translate3d(0px, 100px, 0) rotateX(-30deg) scale(1.25, 1.25);
    -moz-transform: translate3d(0px, 100px, 0) rotateX(-30deg) scale(1.25, 1.25);
    transform: translate3d(0px, 100px, 0) rotateX(-30deg) scale(1.25, 1.25);
    opacity: 0;
    font-size: 15px;
}

.card.appeared{
    -webkit-transform: translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1);
    -moz-transform:  translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1);
    transform: translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1);
    opacity: 1;
}

.title {
    margin: 5px 5px 5px 5px;
    width: auto;
    display: inline-block;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
}

a.title {
    text-decoration: none;
}

.discuss {
    margin: 5px 5px 5px 5px;
    width: auto;
    text-align: right;
    font-size: 10px;
    font-weight: lighter;
    text-decoration: none;
    float: right;
}

.content {
    background: white;
    margin: 0px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px 5px;
    box-shadow: inset 0 1px 1px 1px rgba(0,0,0,0.3);
}
